@font-face {
  font-family: 'Crimson Text';
  src: url('assets/fonts/crimsontext/CrimsonText-Regular.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  src: url('assets/fonts/yesevaone/YesevaOne-Regular.ttf');
}

body {
	font-family: "Crimson Text", serif;
	margin: 0;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

header {
	position: relative;
	z-index: 1;
	width: 100%;
	line-height: 60px;
	background-color: #1C6358;
	box-shadow: 0 0 4px #333;
}

img#logo {
	width: auto;
	height: 45px;
	float: left;
	padding: 5px;
	margin-left: 10px;
}

#ham-icon {
	display: none;
}

.topnav {
	font-size: 12px;
	font-family: sans-serif;
	margin: 0 20px;
	float: right;
}

.topnav ul {
	margin: 0;
}

.topnav li {
	display: inline-block;
}

.topnav a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 1em;
}

#spicebowls {
	width: 100%;
	height: 225px;
	background-color: #333;
	background-image: url(assets/images/hero.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
	margin: 0;
}

.overlay {
	width: 100%;
	height: 225px;
	background-color: rgba(51, 76, 90, 0.5);
	background-size: cover;
}

#home-head {
	margin: 0;
	font-family: "Yeseva One", serif;
	padding: 2.5em 0 0 1.75em;
	text-shadow: 0 2px 3px #000;
}

#tagline {
	font-family: "Crimson Text", serif;
	font-size: 18px;
	padding: 1em 0 0 3.25em;
	text-shadow: 0 2px 3px #000;
}

main {
	max-width: 875px;
	margin: 0 auto;
	padding: 3em 0;
}

section.home-main {
	padding-right: 1.5em;
	border-right: 1px solid #ccc;
	float: left;
}

h2 {
	font-size: 18px;
}

p {
	font-size: 12px;
}

blockquote {
	font-family: cursive;
	font-size: 24px;
	text-align: center;
	color: #777;
	margin: 1.5em 0;
}

#graybox {
	box-sizing: border-box;
	width: 100%;
	background-color: #ddd;
	margin-right: 1.5em;
	overflow: scroll;
}

.inner {
	padding: 0 1.5em;
	float: left;
}

h3 {
	font-size: 14px;
}

aside {
	margin: 0;
	padding-left: 1.5em;
	float: left;
}

aside ul li {
	font-size: 12px;
	padding: .25em;
}

#secondright {
	margin-top: 3em;
}

footer {
	width: 100%;
	background-color: #eee;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 50px;
}

small {
	padding: 0 1em 0 2.5em;
	float: left;
}

.bottomnav {
	float: left;
}

.bottomnav ul {
	margin: 0;
	padding: 0;
}

.bottomnav li {
	font-size: 12px;
	display: inline-block;
}

.bottomnav a {
	color: #aaa;
	display: inline-block;
	padding: 0 .75em;
}

/*About page*/

#sub-head {
	font-family: "Yeseva One", serif;
	font-size: 24px;
	padding-bottom: .75em;
	margin-top: 0;
	border-bottom: 1px solid #eee;
}

.larger {
	font-size: 15px;
}

img#map {
	width: 33.333%;
	border-left: 1px solid #eee;
	margin: 0 0 .75em .5em;
	padding-left: .75em;
	float: right;
}

/*Shop page*/

#shop-box {
	width: 100%;
	margin: 0 0 .5em 0;
	background-color: #eee;
}

#shop-head {
	padding-left: 1em;
	float: left;
}

.cart-items {
	font-size: 12px;
	line-height: 50px;
}

.cart-items img {
	height: 20px;
	margin: 1.25em 0 1.25em 0;
	float: right;
}

.cart-items ul {
	margin: 0;
	padding: 0 0 0 .5em;
	float: right;
}

.cart-items li {
	display: inline-block;
}

.cart-items a {
	display: inline-block;
	color: #4B0082;
	padding: 0 1.5em 0 0;
}

span {
	font-size: 15px;
}

.store-items {
	margin: 0 auto;
}

.spice-merch {
	box-sizing: border-box;
	padding: 1.5%;
}

.gray {
	background-color: #eee;
	padding: 5% 5% 0 5%;
}

.gray img {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.spice-price {
	display: inline-block;
	font-size: 10px;
}

.gray a {
	color: #4B0082;
	font-size: 12px;
	float: right;
}

.merch-info {
	line-height: 3em;
}

/*Contact page*/

form {
	padding: 2%;
}

label {
	display: block;
	font-family: sans-serif;
	font-size: 12px;
	padding: 1em 0;
}

input[type="text"] {
	width: 20em;
	height: 1.5em;
	margin-bottom: 1.5em;
}

textarea {
	width: 100%;
	height: 4em;
	border-color: #ddd;
}

@media (max-width: 800px) {
	img#map {
		width: 50%;
	}
}

@media (max-width: 600px) {
	img#map {
		width: 100%;
	}
}

@media (max-width: 600px) {
	#ham-icon {
		display: block;
		width: 10%;
		padding: 3%;
		float: right;
	}

	nav {
		display: none;
		float: none;
		clear: both;
	}

	#ham-icon:hover + nav {
		display: block;
		font-size: 16px;
	}
}